name: Reusable Deploy
on: 
    workflow_call:
        inputs:
            artifact-name:
                description: Then name of the artifact to download
                required: false
                default: dist
                type: string

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Get build artifacts
              uses: actions/download-artifact@v4
              with:
                name: ${{ inputs.artifact-name}}
            - name: List files
              run: ls
            - name: OUtput information
              run: echo "Deploying & uploading...      "

